.profile__description {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

@media screen and (max-width: 780px) {
    .profile__description {
        justify-items: center;
        padding-right: 0;
    }
}