.profile__description {
    display: grid;
    align-items: baseline;
    row-gap: 7px;
    grid-template-areas:
        "name edit-btn"
        "desc desc";
}


@media screen and (max-width: 780px) {
    .profile__description {
        justify-items: center;
    }
}