.footer {
    padding-top: 67px;
}

.footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 780px) {
    .footer {
        padding-top: 48px;
    }

    .footer__copyright {
        margin-left: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}